<h1>Longest Word</h1>

<h2><% @letters_array.each do |category| %>
  <%= category %>
  <% end %>
</h2>
<% start_time = Time.now %>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="letters" name="letters" type="hidden" value="<%= @letters_array %>"/>
  <input type="text" name="word" placeholder="write a word">
  <input type="submit">
</form>



